body {
	font-family: 'Verdana', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	padding: 4% 0 5% 0;
	margin: 0;
	color: #000;
	background: #fff;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

video {
	-webkit-filter: blur(10px) brightness(70%);
	-moz-filter: blur(10px) brightness(70%);
	-o-filter: blur(10px) brightness(70%);
	-ms-filter: blur(10px) brightness(70%);
	filter: blur(10px), brightness(70%);
	position: fixed;
	right: -5%;
	bottom: -5%;
	min-width: 110%;
	min-height: 110%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url(/img/bg.png) no-repeat;
	background-size: cover;
}

#logo {
  font-size: 36px;
  line-height: 1.2em;
  margin-left: -.5em;
}

section {
	margin: 0 0 50px;
}

.kontador-demo {
  float: right;
  display: inline;
  width: 13%;
  padding: 10px 10px 10px 3%;
}

#content {
  margin: 50px auto 20px;
  border-top: 1px inset rgba(0, 0, 0, .1);
  border-spacing: 15px;
	text-align: left;
	max-width: 800px;
}

h1, h2 {
	font-size: 100%;
	margin: 0 0 5px;
}

h1 {
	margin: 0 0 10px;
}

abbr {
  font-size: 85.7%;
  letter-spacing: .12684em;
  text-transform: uppercase;
}


td {
  padding-right: 2%;
}

#content p {
	max-width: 800px;
	margin: 10px 0 10px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 900px;
  font-size: 14px;
  display: block;
  margin-top: -5px;
}

table img {
  display: block;
}

#content table p, b {
  margin: 0;
  line-height: 1.5em;
}

a {
	color: #fff;
}

.likely__icon {
	display: none;
}

.likely .likely__button {
	padding: 1px 4px 3px;
}

.likely-big .likely__button {
	padding: 2px 8px 4px;
}

.likely-light .likely__widget_vkontakte:hover, .likely-light .likely__widget_vkontakte:active, .likely-light .likely__widget_vkontakte:focus {
	background: rgba(255, 255, 255, .2);
}

.likely__widget {
	font-family: Verdana;
}

.likely {
	margin-left: -8px;
}

* {
	text-shadow: none !important;
	transition: .1s;
}

@media screen and (max-width: 720px) {
	body {
		padding: 2% 1% 1%;
	}

	iframe {
		width: 100% !important;
		height: 200px;
		text-align: left;
	}
	
	table {
  	width: 100%;
	}
	
	td {
  	padding-top: 0;
  	display: block;
  	width: 80%;
  	padding-left: 20px;
	}
	
	#logo img {
  	width: 101%;
  	
	}
	
	#logo {
  	font-size: 24px;
  	line-height: 1.3em;
  	margin: 0;
	}
}
