@-webkit-keyframes flash {
	0%, 100% {
		background: rgba(50, 125, 200, .4); 
	}
	
	50% {
		background: rgba(50, 125, 200, .9);
		color: #fff;
	}
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
	color: #000;
	background: #fff;
}

video {
	-webkit-filter: blur(10px) brightness(.4);
	-moz-filter: blur(10px) brightness(.4);
	-o-filter: blur(10px) brightness(.4);
	-ms-filter: blur(10px) brightness(.4);
	filter: blur(10px) brightness(.4);
	position: fixed;
	right: -5%;
	bottom: -5%;
	min-width: 110%;
	min-height: 110%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url(/img/bg.png) no-repeat;
	background-size: cover;
}	

section {
	margin: 25px 0;
	padding-left: 5%;
}

.white {
	color: #fff;
	text-align: center;
	padding: 25px;
	margin: 0;
}

#see {
	height: 800px;
	z-index: -1;
}

#text {
	margin: 0;
	padding: 2% 5%;
	background: #fff url(/img/route.png) no-repeat;
	background-position: top right;
	background-size: 20%;
}

h1, h2 {
	font-size: 100%;
	margin: 0;
}

h1 {
	margin: 0 0 10px;
	font-weight: 300;
	font-size: 42px;
	line-height: 1em;
}

#text p {
	max-width: 640px;
	margin: 0 0 1.5em;
}

a {
	color: #000;
}

.iphone {
	background: url(/img/iphone.png) no-repeat;
	width: 381px;
	height: 759px;
	margin: 0;
	padding: 0;
	left: 50%;
	top: 50px;
    transform: translate(-50%, 0);
	position: fixed;
	z-index: -2;
}

.shot {
	background: url(/img/ss.png) no-repeat;
	background-size: 100%;
	width: 320px;
	height: 569px;
	position: relative;
	top: 94px;
	left: 31px;
	margin: 0;
	z-index: -1;
	padding: 0;
}

.likely__icon {
	display: none;
}

.likely .likely__button {
	padding: 1px 4px 3px;
}

.likely-big .likely__button {
	padding: 2px 8px 4px;
}

.likely-light .likely__widget_vkontakte:hover, .likely-light .likely__widget_vkontakte:active, .likely-light .likely__widget_vkontakte:focus {
	background: rgba(0, 0, 0, .4);
}

.likely__widget {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 500;
	-webkit-animation: flash 3s infinite;
}

.likely {
	margin-left: -8px;
}

* {
	text-shadow: none !important;
	transition: .1s;
}

@media screen and (max-width: 520px) {
	body {
		font-size: 15px;
		line-height: 1.5em;
	}
	
	section {
		padding-left: 5%;
	}
	
	.iphone {
		margin: 0;
		padding: 0;
		width: 320px;
		height: 169px;
		background: 0;
	}
	
	.shot {
		left: 0;
		top: 90px;
		background-size: 95%;
	}
	
	#text {
		background: #fff;
	}
}